:root {
	--bg: #F7F7F7;
	--tool: #CEE3F8;
	--alt: #F5F5F5;
	--sel: #E9F2FC;
	--texbg: #888;
	--texfg: #888;
	--texsel: #369;
	--texlnk: #369;
	--bor: #CCC;
	--boralt: #5F99CF;
	--bar: #EEF;
	--bartex: var(--texsel);
	--barbor: var(--bor);
	--barchk: var(--alt);
	--barup: #CEE3F8;
	--barerror: #FEF0F0;
	--bardown: #E9FFE6;
	--barpause: #FFF7D7;
	--speedbg: var(--bg);
	--speedfg: var(--fg);
	--speedup: #9EAE9E;
	--speeddown: #369;
}

.folder-tabs .selected>a {
	background-color: var(--fg)!important;
	color: orangered;
}

.folder-tabs li>a {
	background-color: var(--sel)!important;
	color: var(--texsel);
}
